global:
  scrape_interval: 1s
  # evaluation_interval: 15s

scrape_configs:
  - job_name: "fastapi"
    static_configs:
      - targets: ["host.docker.internal:8000"]
  - job_name: "pushgateway"
    honor_labels: true
    honor_timestamps: true
    static_configs:
      - targets: ["host.docker.internal:9091"]

# remote_write:
#   - url: "http://localhost:9090/api/v1/write"  # Локальный или удаленный адрес Prometheus
#     queue_config:
#       max_samples_per_send: 10000  # Макс. количество samples в одном batch
#       capacity: 20000              # Размер буфера очереди
#       max_shards: 50               # Параллельные потоки отправки
#     # write_relabel_configs:
#     #   - source_labels: [__name__]
#         # regex: "high_freq_metric.*"  # Фильтрация метрик по имени (опционально)
